<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Backpack</title>
    </head>
    <body>
        <h1>Détails de l'Étudiant</h1>
        <div>
            <p><strong>Nom:</strong> {{ etudiant.nom }}</p>
            <p><strong>Prénom:</strong> {{ etudiant.prenom }}</p>
            <p><strong>Numéro Étudiant:</strong> {{ etudiant.num_etud }}</p>
            <div>
                <a href="{{ url_for('competences_list', id=etudiant.id) }}">Ajouter une compétence</a>
                <h3>Compétences:</h3>
                <ul>
                    {% for competence in competences %}
                    <li>{{competence.nom}} <a href="{{ url_for('delete_competence', etudiant_id=etudiant.id, competence_id=competence.id) }}">Supprimer</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div>
            <a href="{{ url_for('edit', id=etudiant.id) }}">Modifier</a>
            <a href="{{ url_for('delete', id=etudiant.id) }}">Supprimer</a>
            <a href="{{ url_for('index') }}">Retour à la liste</a>
        </div>
    </body>
</html>