<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Backpack</title>
    </head>
    
    <body>
        <h1>Ajouter un étudiant</h1>
        <form action="/reponse" method="POST">
            <div>
                <label for="nom">Nom:</label>
                <input type="text" id="nom" name="nom" required>
            </div>

            <div>
                <label for="prenom">Prénom:</label>
                <input type="text" id="prenom" name="prenom" required>
            </div>

            <div>
                <label for="num-etud">Numéro étudiant:</label>
                <input type="number" id="num_etud" name="num_etud" required></input>
            </div>

            <div>
                <label for="competence">Compétence:</label>
                <select id="competence" name="competences" multiple required>
                    <option value="" disabled selected>Choisir une compétence</option>
                    {% for competence in competences %}
                        <option value="{{ competence.id }}">{{ competence.nom }}</option>
                    {% endfor %}
                </select>
            </div>

            <div>
                <input type="submit" value = "ajouter">
            </div>


        </form>
    </body>
</html>