<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Backpack</title>
    </head>

    <body>
        <h1>Liste d'étudiants</h1>
        <a href="{{url_for('ajouter_etudiant')}}">Ajouter un étudiant</a>
        <table>
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Prénom</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for etudiant in etudiants %}
                    <tr>
                        <td>{{ etudiant['Nom'] }}</td>
                        <td>{{ etudiant['Prenom'] }}</td>
                        <td>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </body>
</html>